* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Menu p:hover{
    color: rgb(82, 79, 79);
}

#Menu {
    height: 70px;
}
#Menu p {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 32px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Navigation {
    height: 30px;
    float: right;
    margin-right: 40px;
}
#Navigation #LK {
    font-size: 25px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    padding: 30px;
}
#Conteudo_Loja {
    display: flow-root;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 5%;
    height: auto;
    width: 90%;
}
#Item_Loja{
    margin: auto;
    background-color: rgba(39, 38, 38, 0.733);
    width: 500px;
    height: auto;
    margin-bottom: 50px;
}
#Item_Loja #Img_Item{
    width: 500px;
    height: 300px;
}
#Description_Item {
    margin-left: 5px;
    color: white;
    line-height: 25px;
}
#Footer {
    margin-left: 0;
    margin-top: 150px;
    background-color: rgb(56, 55, 55);
    border-radius: 40px;
    height: 200px;
    width: 100%;
}
#Img_Footer #imgm {
    margin-top: 50px;
    color: beige;
}
#Direitos_altorais {
    float: right;
    color: bisque;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    width: 60%;
}