  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgb(165, 202, 202);
}
#Menu {
    height: 70px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.205);
}
#Menu p {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 32px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Menu p:hover{
    color: rgb(82, 79, 79);
}
#Navigation {
    height: 30px;
    float: right;
    margin-right: 40px;
}
#Navigation #LK {
    color: black;
    font-size: 26px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    padding: 30px;
}
#Navigation #LK:hover{
    font-size: 35px;
    color: rgb(82, 79, 79);
}
#Conteudo_Home {
    display: flex;
    margin-top: 50px;
    height: 500px;
    width: 100%;
    margin-bottom: 200px;    
}

#Img_Propaganda img{    
    height: 400px;
    width: 300px;
    margin-top: 50px;
    margin-left: 45%;  
}
#Txt_Propaganda {
    font-size: 28px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(7, 7, 7);
    margin-top: 100px;
    margin-left: 20%;
    margin-bottom: 50px;
    width: 50%;
    height: 300px;
}
@media (max-width: 1101px){
    #Conteudo_Home{
        justify-content: center;
    }
    #Img_Propaganda{
        display: none;
    }
    #Txt_Propaganda {
        margin-left: 10%;
        font-size: 22px;
    }
    #Img_Footer {
        margin-left: 30px;
    }
    #Diretos_altorais {
        margin-right: 30px;
    }
}
#Footer {
    justify-content: center;
    margin-top: 150px;
    background-color: rgb(56, 55, 55);
    border-radius: 40px;
    margin-left: 20%;
    height: 300px;
}
#Img_Footer #imgm {
    margin-left: 50px;
    color: beige;
}
#Direitos_altorais {
    margin-top: 20px;
    color: bisque;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    width: 60%;
}