* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Menu p:hover{
    color: rgb(82, 79, 79);
}

#Menu {
    height: 70px;
}
#Menu p {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 32px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Navigation {
    height: 30px;
    float: right;
    margin-right: 40px;
}
#Navigation #LK {
    font-size: 25px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    padding: 30px;
}
#Conteudo_Form {
    background-size: cover;
    margin-top: 50px;
    height: 575px;
    width: 100%;
}
#Formulario {
    
    width: 70%;
    height: 575px;
    margin-left: 15%;
}

#Formulario input {
    margin-left: 10%;
    width: 80%;
}
#Footer {
    margin-top: 150px;
    background-color: rgb(56, 55, 55);
    border-radius: 40px;
    height: 200px;
    width: 100%;
}
#Img_Footer #imgm {
    margin-top: 50px;
    color: beige;
}
#Direitos_altorais {
    color: bisque;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    width: 60%;
}

#paragrafo {
    font-size: 18px;
    font-weight: 400;
}
#entrada {
    width: 300px;
    height: 30px;
}
#send {
    height: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: rgb(48, 48, 54);
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}
#send:hover {
    opacity: 80%;
}
#form-img {
    margin-left: 50px;
}
#send-img{
    cursor: pointer;
}
h3 {
    text-align: center;
}